<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    {% include "blocks/head.html" %}
    {% block head_links %}
        <link rel="stylesheet" href="css/{{ page_name }}.css">
        <script src="js/{{ page_name }}.bundle.js"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    {% include "blocks/nav.html" %}
{% endblock %}

{% block body_content %}{% endblock %}

{% block footer %}
    {% include "blocks/footer.html" %}
{% endblock %}

{% block background %}
    <div id="bg-bubble"></div>
    <div id="bg-gradient"></div>
{% endblock %}
</body>
</html>