body {
    margin: 0;
    padding: 0;
}

.popup {
    width: 40%;
    background-color: white;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 5%;
    right: 0;
    display: none;
    z-index: 2001;
    font-family: Oxygen, "Open-Sans", Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 100px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 40px 0 rgba(255, 255, 255, 0.19);
    overflow-y: scroll;
}

.current-canton-image {
    float: right;
    width: 8vw;
    margin: 1vw;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 2000;
}

.canton-image {
    width: 25%;
    padding: 1%;
}

.main-text {
    font-size: 2rem;
}


.normal-button {
  position: absolute;
  z.index:1000;
}

.no-region-button {
  position: absolute;
  z-index: 1001;
}


.text-normal{
  font-size: 1rem;
}

.text-gross-info{
  font-size: 1.2em;
  font-weight: 300;
}

.text-box{
  line-height: 150%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}



/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    img.canton-image {
        width: 25vw;
    }

    div.popup {
        border-radius: 0px;
        font-size: 8vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        width: auto;
        padding: 10px;
    }

    img.current-canton-image {
        width: 15vw;
        margin: 1vw;
    }
    .text-normal{
      font-size: 0.9rem;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .text-normal{
    font-size: 0.8rem;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .main-text {
      font-size: 1.5rem;
  }

  .text-normal{
    font-size: 0.7rem;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .main-text {
      font-size: 1.2rem;
  }
}



span.navbar-brand {
    padding-right: 25px;
}

div.container {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

span.text-muted {
    line-height: 60px;
}

div.container > div.row {
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

div.col-6 {
    border-style: solid;
}

hr.hz-line {
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}
