#propose-text {
  text-align: left;
}

#vote-text {
  text-align: left;
}

.rules li {
  text-align: left;
}

#text-inputarea {
  min-height: 52px;
}

.send-btn {
  font-size: 200%;
  background-color: white;
  padding-top: 0;
  padding-bottom: 5%;
}

#new-words {
  font-style: italic;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 5px;
}

#words-score {
  font-size: 1.5em;
  
}
