/*This file is meant for general adjustments which aren't specific to one particular site!*/
body {
    margin: 0;
    padding: 0;
}

span.navbar-brand {
    padding-right: 25px;
}

div.container {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

span.text-muted {
    line-height: 60px;
}

div.container > div.row {
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

div.col-6 {
    border-style: solid;
}

hr.hz-line {
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.main-text {
    font-size: 2rem;
}

.text-normal {
    font-size: 1rem;
}

.text-gross-info {
    font-size: 1.2em;
    font-weight: 300;
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .text-normal {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .main-text {
        font-size: 1.5rem;
    }

    .text-gross-info {
        font-size: 1.0em;
    }
    .text-normal {
        font-size: 0.8rem;
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .main-text {
        font-size: 1.2rem;
    }
}
