/*This file is meant for general adjustments which aren't specific to one particular site!*/
body {
    margin: 0;
    padding: 0;
}

.bg-color-inf {
  background-color: #d6f1ff; /*color SwissVoice-info-text-title section*/
}

#bg-bubble {
  background-image: url(/images/background/speechbubble.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
/* positioning*/
  bottom: -50vh;
  right: 0;
  width: 50rem;
  height: 60rem;
/*image modifications*/
  opacity: 0.2;

}

#bg-gradient {
  /*background-gradient*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -moz-linear-gradient(-45deg,  rgba(29, 236, 197, 0.4) 0%, rgba(45, 0, 136, 0.4) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(29, 236, 197, 0.4), rgba(45, 0, 136, 0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(29, 236, 197, 0.4)), color-stop(100%, rgba(45, 0, 136, 0.4)));
  background: linear-gradient(-45deg, rgba(29, 236, 197, 0.4), rgba(45, 0, 136, 0.4) 100%);
  background: -o-linear-gradient(-45deg, rgba(29, 236, 197, 0.4), rgba(45, 0, 136, 0.4) 100%);
  background: -ms-linear-gradient(-45deg, rgba(29, 236, 197, 0.4), rgba(45, 0, 136, 0.4) 100%);

}

.card-divider {
  width: 100%;
  color: grey;
}

span.navbar-brand {
    padding-right: 25px;
}

div.container {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

span.text-muted {
    line-height: 60px;
}

div.container > div.row {
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

div.col-6 {
    border-style: solid;
}

hr.hz-line {
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.main-text {
    font-size: 2.2rem;
    font-weight: 500;
}

.text-normal {
    font-size: 1rem;
}

.text-gross-info {
    font-size: 1.2em;
    font-weight: 300;
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .main-text{
    font-size: 2rem;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .text-normal {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .main-text {
        font-size: 1.5rem;
    }

    .text-gross-info {
        font-size: 1.0em;
    }
    .text-normal {
        font-size: 0.8rem;
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .main-text {
        font-size: 1.3rem;
    }
}


/*--------------------------------------------------*/
/*media query for background-image*/
@media (max-height: 660px) {
  #bg-bubble {
    top: 30vh;
    right: -5rem;
    width: 50rem;
    height: 60rem;
  }
}
