body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr 3fr 2fr;
  grid-gap: 20px;
  grid-template-areas: "pagetitle nav"
                      "info info"
                      "sprich sprich"
                      "hoer hoer"
                      "footer footer";
}

/*
.box {
  color: #fff;
  border-radius: 5px;
  border: 5px dotted blue;
}


.grid2 li {
  justify-self: center;
  border:2px solid rgba(0,0,0,0)
}
*/

.grid2 {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

.grid2 li {
  justify-content: space-between;
}

.pagetitle {
  font-size: 300%;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
  height: auto;
  margin: auto;
  line-height: 100%;
  border-bottom: 3px solid black;
  grid-area: pagetitle;
}

.text {
  font-size: 200%;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.button {
  font-family: Montserrat;
  font-size: 200%;
  padding: 2px 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  justify-self: auto;
}

.info {
  padding-top: 20px;
  grid-area: info;
}

nav {
  height: auto;
  margin: auto;
}

nav ul {
  padding: 0;
  list-style-type: none;
  align: center;
}

nav ul li {
  align-items: center;
  margin: 1%;
}

nav ul li a:hover {
  color: grey;
  border: 3px solid grey;
}

.sprich {
  grid-area: sprich;
}

.hoer {
  grid-area: hoer;
}

footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.5);
  height: auto;
  vertical-align: middle;
  line-height: 1000%;
}
