body {
  margin: 0;
  padding: 0;
}

.currentCantonImage {
  float:right;
  width:10%;
  margin-left:15px;
}

.popup {
	width: 40%;
	background-color: white;
	border-radius: 4px;
	margin: auto;
	position: absolute;
	top: 10%; left: 0; bottom: 5%; right: 0;
	display: none;
	z-index: 1;
  font-family: Oxygen,"Open-Sans",Helvetica,sans-serif;
  font-size: 2vw;
  line-height: 100px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 40px 0 rgba(255, 255, 255, 0.19);
}

.current-canton-image {
  float:right;
  width:8vw;
  margin:1vw;
}

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
}

.canton-image {
  width: 25%;
  padding: 1%;
}

.main-text {
  font-size: 25px;
}

@media (max-width: 1000px) {
  img.canton-image{
    width: 25vw;
  }
  div.popup{
    border-radius: 0px;
    font-size: 8vw;
    top: 0; left: 0; bottom: 0; right: 0;
    height: auto;
    width: auto;
    padding: 10px;
  }
  img.current-canton-image{
    width:15vw;
    margin:1vw;
  }
}
