{% extends "base.html" %}

{% block body_content %}
    <div class="container">
        <div class="my-5">
            <span class="main-text">SwissVoice - About</span>
        </div>

        <!-- content -->
        <div class="card-deck row">
            <div class="card card-body bg-primary col-12 col-md-6 mb-5 mb-md-0 mr-md-4">
                <div class="card-titel h4">Unser Plan</div>
                <div class="card-text">
                    <span class="sub-title">Das SwissVoice-Projekt umfasst 2 Phasen:<br class="mb-2"></span>
                    <div class="">
                        1. Sammeln von Dialekttexten <br>
                        2. Sammeln von Sprachaufnahmen
                    </div>
                </div>
            </div>

            <div class="card card-body bg-primary col-12 col-md-6">
                <div class="card-titel h4">Die Idee</div>
                <div class="card-text">
                    SwissVoice ist aus dem Traum dreier Technikbegeisterten entstanden, dass elektronischen Geräte ihre Muttersprache(Schweizerdeutsch) verstehen könnten.
                    Obschon dieser Traum schon lange vorhanden war, wurde die Technologie um solch etwas zu ermöglichen erst in den letzten Jahren vollständig entwickelt.
                    In Ahnlehnung an das Projekt CommenVoice von Mozilla hatt sich dann das SwissVoice-Projekt ergeben.
                    Unserem Team ist bewusst, dass die Projekte SwissVoice und CommenVoice sich sehr ähneln.
                    Jedoch überschneiden sich die Projekte nicht, da es für die komplizierte Sprachlandschaft der Schweiz eine spezial Lösung braucht. Diese Lösung heisst SwissVoice!
                    Im Gegenteil zu CommenVoice beachten wir regionale Gegebenheiten und lassen nur Leute Texte bewerten, die einen ähnlichen Dialekt sprechen wie der Verfasser.
                    Das Gleiche wird in einer zweiten Phase mit den Sprachaufnahmen auch der Fall sein.<br>
                    Der Erfolg von SwissVoice bedeutet, dass eine Grundlage für Schweizerdeutsch Spracherkennung geschaffen ist.
                    Es ergeben sich unzählige Einsatzgebiete: Vom "umwandeln" einer Sprachnachricht in Text bis zu einer Verständigungshilfe für taube Menschen.

                </div>
            </div>
        </div>
    </div>
{% endblock %}
