{% extends "base.html" %}

{% block body_content %}
    <div class="container mb-5 mt-0">
        <div class="mt-5">
            <span class="main-text">SwissVoice - About</span>
        </div>

        <!-- content -->
        <div class="card-columns">
            <div class="card card-body bg-primary mt-5 fixed-size">
                <div class="card-titel h4">Unser Plan</div>
                <div class="card-text">
                    <span class="sub-title">Das SwissVoice-Projekt umfasst 2 Phasen:<br class="mb-2"></span>
                    <ol>
                        <li>Sammeln von Dialekttexten</li>
                        <li>Sammeln von Sprachaufnahmen</li>
                    </ol>
                </div>
            </div>

            <div class="card card-body mt-5 bg-primary">
                <div class="card-titel h4">Die Idee</div>
                <div>
                    <p class="card-text info-text">
                        SwissVoice ist aus dem Traum dreier Technikbegeisterten entstanden,
                        dass elektronischen Geräte ihre Muttersprache (Schweizerdeutsch) verstehen können.
                        Obschon dieser Traum schon lange vorhanden war, wurde die Technologie, um so etwas zu ermöglichen,
                        erst in den letzten Jahren vollständig entwickelt.
                    </p>
                    <p class="info-text teaser" style="height: 3rem;">
                        In Anlehnung an das Projekt CommonVoice von Mozilla hat sich das SwissVoice-Projekt ergeben.
                        Unserem Team ist bewusst, dass die Projekte SwissVoice und CommonVoice sich sehr ähneln,
                        jedoch überschneiden sie sich nicht, da es für die komplizierte Sprachlandschaft der Schweiz eine spezielle Lösung braucht.
                        Diese Lösung heisst SwissVoice!
                        <br>
                        Im Gegenteil zu CommonVoice beachten wir regionale Gegebenheiten und lassen nur Personen Texte bewerten,
                        die einen ähnlichen Dialekt sprechen wie der Verfasser.
                        Das Gleiche wird in einer zweiten Phase mit den Sprachaufnahmen auch der Fall sein.
                        <br>
                        Der Erfolg von SwissVoice bedeutet, dass eine Grundlage für schweizerdeutsche Spracherkennung geschaffen ist.
                        Aus dieser Grundlage ergeben sich unzählige Einsatzgebiete:
                        Vom "Umwandeln" einer Sprachnachricht in Text bis zu einer Verständigungshilfe für taube Menschen.
                    </p>
                    <button class="btn btn-primary btn-sm teaser-trigger"></button>
                </div>
            </div>
            <div class="card card-body bg-primary mt-5 fixed-size">
                <div class="card-title h4">Wer ist SwissVoice?</div>
                <p class="card-text info-text">
                    Unser Team besteht aus drei angehenden Studenten, die sich in ihrer Freizeit mit Programmieren beschäftigen.
                    Wir sind fasziniert von den Möglichkeiten, welche neuronale Netze bieten, und hoffen mit dem SwissVoice-Projekt
                    einen Nutzen für die Allgemeinheit schaffen zu können.<br/>
                    Bei Fragen kontaktieren Sie uns bitte per E-Mail:
                    <a class="link link-style" href="mailto:developers@swiss-voice.ch">developers@swiss-voice.ch</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
