{% extends "base.html" %}

{% block body_content %}
    <div class="container">
        <div class="my-5"><span class="main-text">SwissVoice - Schreiben</span></div>
        <div id="slider" class="mb-5">
            <div id="slider-btns mx-auto">
                <button id="slider-schreiben-btn" type="button" class="btn btn-outline-secondary mr-5 active">Schreiben</button>
                <button id="slider-bewerten-btn" type="button" class="btn btn-outline-secondary">Bewerten</button>
            </div>

            <!-- section for writing new sentences -->
            <div id="propose-text" class="propose-text card card-body mt-4 bg-primary slide-active">
                <div id=instructions-propose-text>
                    <p class="mb-3 h5">Schreib einen schweizerdeutschen Satz!</p>
                    <p class="mb-1 h6">Achte auf:</p>
                    <ul class="rules mb-1">
                        <li><b>Leserlichkeit</b></li>
                        <li>GROSS/klein-Schreibung</li>
                        <li>Satzzeichen</li>
                    </ul>
                </div>

                <hr class="card-divider my-1">

                <div id="write-area" class="input-group row mx-0">
                    <div id="text-input" class="input-group col-12 mx-0 mt-2 px-0">
                        <input type="text" id="textarea-input" class="form-control">
                        <div class="input-group-append">
                            <button id="send-text" class="btn btn-outline-secondary send-btn" type="button">></button>
                        </div>
                    </div>
                    <div id="score-board" class="row col-12 pr-0 mt-3">
                        <div id="new-words" class="col-11 px-2 my-auto">Hier stehen alle Wörter die neue in unser System aufgenommen wurden.(Dies muss für
                            jede Sprachregion seperat geprüft werden!)
                        </div>
                        <div id="words-score" class="col px-0 my-auto text-center text-normal">0</div>
                    </div>
                </div>
            </div>


            <!-- section for voting the sentences -->
            <div id="vote-text" class="vote-text card card-body bg-primary">
                <div id="instructions-vote-text">
                    <p class="h5">Ist dieser Satz korrekt?</p>
                    <p class="mb-0">Achte auf:</p>
                    <ul class="rules">
                        <li>GROSS/klein-Schreibung</li>
                        <li>allgemeine Leserlichkeit</li>
                    </ul>
                </div>

                <hr class="card-divider my-1">

                <div id="vote-system" class="row d-flex mx-0 mt-2">
                    <div id="proposed-text-display" class="textarea-vote col center-text mb-2 mb-sm-0">Text wird geladen...</div>
                    <div class="vote-btns col-12 col-sm-3 col-md-2 col-lg-1 col d-flex mr-sm-0 ml-sm-2 px-0">
                        <button id="vote-text-true-btn" class="btn btn-outline-secondary btn-true mr-1 px-0" type="button">
                            <i id="icon-true" class="material-icons center-icon">done</i>
                        </button>
                        <button id="vote-text-false-btn" class="btn btn-outline-secondary btn-false px-0" type="button">
                            <i id="icon-false"class="material-icons center-icon">clear</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
