$theme-colors: (
        "primary": rgba(214, 241, 255, 0.8)
);

/*these are requierd by bootsrap on every page*/
@import "bootstrap/bootstrap-reboot";

/*optional but also used on every page*/
@import "bootstrap/type";
@import "bootstrap/utilities";
@import "bootstrap/bootstrap-grid";
/*used in navbar*/
@import "bootstrap/buttons";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/dropdown";
@import "bootstrap/alert";
@import "bootstrap/transitions";

/*
@import "bootstrap/card";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/forms";
@import "bootstrap/jumbotron";*/

@import "select-canton";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.disable-scroll {
  overflow-y: hidden;
}

#nav-logo {
  color: black;
}

#nav-logo:visited {
  color: black;
}

#nav-logo:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bg-color-inf {
  background-color: #d6f1ff; /*color SwissVoice-info-text-title section*/
}

.bg-primary {
  border: none;
}

.bg-transp {
  background-color: rgba(214, 241, 255, 0.8);
}

.bg-light {
  background-color: #f4f4f4;
}

#bg-bubble {
  background: url(/images/background/speechbubble.svg) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* positioning*/
  bottom: -50vh;
  right: 0;
  width: 50rem;
  height: 60rem;
  /*image modifications*/
  opacity: 0.2;
  z-index: -1

}

#bg-gradient {
  /*background-gradient*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: linear-gradient(-45deg, rgba(29, 236, 197, 0.4), rgba(45, 0, 136, 0.4));
}

/*general link style*/
.link-style {
  white-space: nowrap;
  color: #63aeff;
}

.link-style:visited {
  color: #63aeff;
}

.link-style:hover {
  color: #a2a0ff;
  text-decoration: none;
}

/* styling the bootstrap p-btn*/
.btn-primary {
  background-color: #63aeff;
  border: none;
}

.btn-primary:hover {
  background-color: #a2a0ff;
}

#footer-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-spacer {
  height: 98px
}

#footer-text {
  line-height: normal;
}

.spacer-mt-big {
  margin-top: 100px;
}

.spacer-mb-big {
  margin-bottom: 100px;
}

.card-divider {
  width: 100%;
  color: grey;
}

.card-body.fixed-size {
  align-self: start;
}

span.navbar-brand {
  padding-right: 25px;
}

div.container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

span.text-muted {
  line-height: 60px;
}

div.container > div.row {
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}

div.col-6 {
  border-style: solid;
}

hr.hz-line {
  margin-left: 10vw;
  margin-right: 10vw;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.center-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  font-size: 2.2rem;
  font-weight: 500;
}

.text-normal {
  font-size: 1rem;
  line-height: normal;
}

.text-gross-info {
  font-size: 1.2em;
  font-weight: 300;
}

/* Large devices (desktops, less than 1200px)*/
@include media-breakpoint-down(lg) {
  .main-text {
    font-size: 2rem;
  }
}

/* Medium devices (tablets, less than 992px)*/
@include media-breakpoint-down(md) {
  .text-normal {
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@include media-breakpoint-down(sm) {
  .main-text {
    font-size: 1.5rem;
  }

  .text-gross-info {
    font-size: 1.0em;
  }

  .text-normal {
    font-size: 0.8rem;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@include media-breakpoint-down(xs) {
  .main-text {
    font-size: 1.3rem;
  }
}

/*--------------------------------------------------*/
/*media query for background-image*/
@media (max-height: 660px) {
  #bg-bubble {
    top: 30vh;
    right: -5rem;
    width: 50rem;
    height: 60rem;
  }
}
