@import "style";
@import "style/teaser";
@import "bootstrap/card";

.card-text {
  line-height: normal;
  text-align: left;
}

.sub-title {
  font-weight: 500;
}

.info-text {
  text-align: left;
  line-height: normal;
  margin-bottom: 0;
  transition: height 1s;
  overflow: hidden;
}