@import "style";
@import "loading-screen";

#action-section {
  max-width: 700px;

}

.action-text {
  line-height: normal;
}

.card-body.fixed-size {
  align-self: start;
}

.jumbotron {
  background-color: #d6f1ff; /*color action-section*/
}

#main-schreiben-btn {
  border-color: transparent;
  font-size: 1.5rem;

}

/* styling the bootstrap p-btn*/
.btn-primary {
  background-color: #63aeff;
}

.btn-primary:hover {
  background-color: #a2a0ff;
}

#sv-info-text-card {
}

.sv-info-header {
  background-color: transparent;
}

.sv-info-text-title {
  border-color: transparent;
  font-weight: 400;
}

.sv-info-text:first-of-type {
  margin-top: 1rem;
}

.sv-info-text {
  text-align: left;
  line-height: normal;
  margin-bottom: 0;
  transition: height 1s;
  overflow: hidden;
}

.teaser {
  position: relative;
  overflow: hidden;
}

.teaser::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #d6f1ff);
}

.teaser + .teaser-trigger::after {
  content: "Weiterlesen";
}

:not(.teaser) + .teaser-trigger {
  margin-top: 1rem;
}

:not(.teaser) + .teaser-trigger::after {
  content: "Verringern";
}

.bg-color-inf {
  background-color: #d6f1ff; /*color SwissVoice-info-text-title section*/
}

.link {
  font-style: italic;
  color: grey;
}

#subtitle {
  max-width: 700px;
  font-weight: 400;
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  #main-schreiben-btn {
    font-size: 1.2rem;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  #main-schreiben-btn {
    font-size: 1.1rem;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  #main-schreiben-btn {
    font-size: 0.9rem;
  }

}
