@import "style";
@import "style/teaser";
@import "loading-screen";
@import "bootstrap/jumbotron";
@import "bootstrap/card";

#action-section {
  max-width: 350px;

}

.action-text {
  line-height: normal;
}

.jumbotron {
  background-color: #d6f1ff; /*color action-section*/
}

#main-schreiben-btn {
  width: 30vw;
  border-color: transparent;
  min-height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 3px 5px 1px 1px #4b0d66;
  margin: 0px 3px 5px 0px;
}

#main-schreiben-btn:hover {
  box-shadow: none;
  margin: 5px 0px 0px 3px;
  transition: all 0.3s;
}

.sv-info-header {
  background-color: transparent;
}

.sv-info-text-title {
  border-color: transparent;
  font-weight: 400;
  background-color: transparent;
}

.sv-info-text:first-of-type {
  margin-top: 1rem;
}

.sv-info-text {
  text-align: left;
  line-height: normal;
  margin-bottom: 0;
  transition: height 1s;
  overflow: hidden;
}

#subtitle {
  max-width: 700px;
  font-weight: 400;
}

.btn-attention {
  background-color: #b015f2;
}

@import "bootstrap/functions"; // required for variables
@import "bootstrap/variables"; // required for breakpoints to work
@import "bootstrap/mixins/breakpoints";

/* Large devices (desktops, less than 1200px)*/
@include media-breakpoint-down(lg) {
  #main-schreiben-btn {
    width: 50vw;
  }

}

/* Medium devices (tablets, less than 992px)*/
@include media-breakpoint-down(md) {
  
}

/* Small devices (landscape phones, less than 768px)*/
@include media-breakpoint-down(sm) {
  #main-schreiben-btn {
    width: 70vw;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@include media-breakpoint-down(xs) {
  #main-schreiben-btn {
    width: 90vw;
  }
}
