@import "style";
@import "style/teaser";
@import "loading-screen";
@import "bootstrap/jumbotron";
@import "bootstrap/card";

#action-section {
  max-width: 700px;

}

.action-text {
  line-height: normal;
}

.jumbotron {
  background-color: #d6f1ff; /*color action-section*/
}

#main-schreiben-btn {
  border-color: transparent;
  font-size: 1.5rem;

}

#sv-info-text-card {
}

.sv-info-header {
  background-color: transparent;
}

.sv-info-text-title {
  border-color: transparent;
  font-weight: 400;
  background-color: transparent;
}

.sv-info-text:first-of-type {
  margin-top: 1rem;
}

.sv-info-text {
  text-align: left;
  line-height: normal;
  margin-bottom: 0;
  transition: height 1s;
  overflow: hidden;
}

.link {
  font-style: italic;
  color: grey;
}

#subtitle {
  max-width: 700px;
  font-weight: 400;
}

@import "bootstrap/functions"; // required for variables
@import "bootstrap/variables"; // required for breakpoints to work
@import "bootstrap/mixins/breakpoints";

/* Medium devices (tablets, less than 992px)*/
@include media-breakpoint-down(md) {
  #main-schreiben-btn {
    font-size: 1.2rem;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@include media-breakpoint-down(sm) {
  #main-schreiben-btn {
    font-size: 1.1rem;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@include media-breakpoint-down(xs) {
  #main-schreiben-btn {
    font-size: 0.9rem;
  }

}
