@import "style";
@import "animation/loading-cube";
@import "bootstrap/jumbotron";

#content {
  position: relative;
}

#content.loading .content-container {
  visibility: hidden;
}

#content:not(.loading) #loading-indicator {
  display: none;
}

#loading-indicator {
  position: absolute;
  top: 0;
  padding-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.loading-indicator-cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.content-container {
  width: 95%;
}

.attention-numbers {
  font-size: 150%;

  span {
    font-weight: 900;
    font-size: 200%;
    white-space: nowrap;
  }

  .container {

  }
}
