<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SiwssVoice ist ein Projekt, welches sich zum Ziel gesezt hat, Daten für eine schweizerdeutschen open-source Spracherkennung zu sammeln.
SwissVoice wird zudem, mit den gesammelten Daten, eine eigene Spracherkennung auf Basis eines neuronalen Netzes der Öffentlichkeit zur Verfügung stellen.">
<meta name="rating" content="General">
<meta name="referrer" content="no-referrer">
<meta name="format-detection" content="telephone=no">
<title>{% block title %}SwissVoice{% endblock %}</title>
{% include "blocks/favicon.html" %}
